.information {
  padding: 15px 0;
}

.information__wrapper {
  @include mobile-container;
}

.information__title {
  display: block;
  margin-bottom: 40px;
  font-size: 36px;
  line-height: 36px;
}

@media (min-width: $tablet-width) {
  .information__wrapper {
    @include tablet-container;
    padding: 25px;
  }
}
