$tablet-width: 765px;
$desktop-width: 1170px;
$mobile-only: 749px;

$white: #ffffff;
$black: #000000;
$text-color: #4c4c4c;
$accent-text-color: #e12457;
$pink-text-color: #ffcfdf;
$background-purple: #9d1a56;
$pink-background: #fff5f8;
$button-background: #b21e5e;
$button-text-color: #c2529a;
$dark-blue-background: #1e1a3d;

$border-color: #e7e8ea;
$input-color: #b9bdc3;
$minor-text-color: #999ea8;
$blue-border-color: #97a7f5;

$section-border: 1px solid $border-color;
$blue-border: 1px solid $blue-border-color;
$form-border: 1px solid $white;
