.button {
  display: block;
  font-weight: 700;
  background-color: $button-background;
  border: none;
  cursor: pointer;
  border-radius: 50px;
  text-decoration: none;
  text-align: center;

  &--circle {
    position: relative;
    display: block;
    padding: 25px;
    border-radius: 50%;
  }

  &--down {
    position: relative;
    width: 55px;
    height: 55px;
    opacity: 50%;
    background-image: url("../img/arrow.svg");
    background-position: top 50% left 50%;
    background-repeat: no-repeat;
    background-size: 15px 15px;
  }

  &--white {
    padding: 15px 25px;
    width: 100%;
    font-size: 24px;
    line-height: 24px;
    color: $button-text-color;
    text-decoration: none;
    background-color: $white;
    box-shadow: 0 0 3px 3px $white;
  }

  &--crimson {
    padding: 15px 25px;
    width: 160px;
    font-size: 16px;
    line-height: 20px;
    color: $white;
  }
}

@media (min-width: $tablet-width) {
  .button {
    &--down {
      background-size: 25px 25px;
    }

    &--white {
      padding: 15px;
      width: 250px;
    }
  }
}
