.main-nav {
  position: relative;
}

.main-nav__list {
  @include simple-list;
  @include mobile-container;
  text-align: center;
}

.main-nav__link {
  position: relative;
  display: block;
  color: $white;
  text-decoration: none;
  border: none;

  &--logo {
    width: 142px;
    height: 38px;
    border: 1px solid black;
  }
}

.main-nav__toggle {
  position: absolute;
  top: 10px;
  right: 15px;
  z-index: 2;
  width: 47px;
  height: 18px;
  border: 1px solid black;
  margin: 0;
  padding: 0;
  background: transparent;
  cursor: pointer;
}

.main-nav--closed .main-nav__toggle {
  background-image: url("../img/icon-menu-open.svg");
  background-position: 0 0;
  background-repeat: no-repeat;
}

.main-nav--opened .main-nav__toggle {
  right: 25px;
  width: 24px;
  height: 24px;
  background-image: url("../img/icon-menu-close.svg");
  background-position: 0 0;
  background-repeat: no-repeat;
}

.main-nav--closed .main-nav__item {
  display: none;

  &--logo {
    display: block;
  }
}

.main-nav--nojs .main-nav__toggle {
  display: none;
}

.main-nav--nojs {
  position: static;
}

.main-nav--nojs .main-nav__item {
  display: block;
}


@media (min-width: $tablet-width) {
  .main-nav {
    margin: 0 auto;
    padding-top: 15px;
    width: 700px;
  }

  .main-nav__list {
    width: auto;
  }

  .main-nav__toggle {
    top: 25px;
  }
}
