.page-footer {
  background-color: $background-purple;
}

.page-footer__wrapper {
  padding: 15px 0;
  text-align: center;
  background-image: url("../img/footerbg-mobile@1x.jpg");
  background-position: 0 0;
  background-repeat: no-repeat;
}

.page-footer__link {
  &--logo {
    width: 116px;
    height: 32px;
    border: 1px solid black;
  }
}

@media (min-width: $tablet-width) {
  .page-footer__wrapper {
    display: flex;
    flex-wrap: wrap;
    padding: 15px;
    background-image: url("../img/footerbg-tablet@1x.jpg");
    background-size: cover;
  }

  .page-footer__social {
    margin-left: auto;
    order: 2;
  }
}
